---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: debian12-hestia
    image: debian:12
    pre_build_image: true
    command: sleep infinity
    tmpfs:
      - /tmp
    capabilities:
      - SYS_ADMIN
provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: profile_tasks,timer
      stdout_callback: yaml
  playbooks:
    prepare: prepare.yml
    converge: converge.yml
    verify: verify.yml
  inventory:
    group_vars: {}
    host_vars:
      debian12-hestia:
        ansible_python_interpreter: /usr/bin/python3
        ansible_connection: docker
verifier:
  name: ansible
scenario:
  name: default
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - side_effect
    - verify
    - cleanup
    - destroy
